.calendar
{
    font-size: 2em;
    margin: 0 auto;
    position: relative;
    display: inline-block;

    &__month
    {
        border-collapse: collapse;
    }

    &__cell
    {
        padding: 0.7em 0.5em;
        border: 0.1em solid transparent;
        cursor: default;
    }

    &__day
    {
        border: 1px solid transparent;
        padding: 0;
        text-align: center;

        &_month_prev,
        &_month_next
        {
            opacity: 0.5;
        }

        &_weekend
        {
            color: #c00;
        }

        &_selected .calendar__cell
        {
            border-color: #aad;
            background-color: #eef;
        }

        &_today
        {
            font-weight: bold;

            .calendar__cell
            {
                border-color: #666;
            }
        }

        &:hover .calendar__cell
        {
            background-color: #ddf;
        }
    }

    th
    {
        padding: 0.5em;
    }

    &__switcher
    {
        text-align: center;
        background-color: #ddf;
        padding: 0.5em;
    }

    &__arrow
    {
        position: absolute;
        background-color: #eef;
        padding: 0.5em 2em;
        cursor: pointer;

        &:hover
        {
            background-color: #fafaff
        }

        &_pos_left
        {
            top: 0;
            left: 0;
        }

        &_pos_right
        {
            top: 0;
            right: 0;
        }
    }
}


